body{
    background: white;
    color: #333333;
    margin-top: 5rem;
}
h1,h2,h3,h4,h5,h6{
    color: #444444;
}
.bg-steel{
    background-color: #3755b9;
}
.site-header .navbar-nav .nav-link{
    color: #365161;
}
.site-header .navbar-nav .nav-link:active{
    font-weight: 500;
}
.content-section{
    background-image: radial-gradient( circle farthest-corner at 92.3% 71.5%,  rgba(83,138,214,1) 0%, rgba(134,231,214,1) 90% );
    padding: 10px 20px;
    border: 1px solid #bdb9b9;
    border-radius: 5px;
    margin-top: 20px;
}
.article-title{
    color: #444444;
}
a.article-title:hover{
    color: #2a4e7e;
    text-decoration: none;
}
.article-img{
    height: 65px;
    width: 65px;
    margin-right: 15px;
}
.article-metadata{
    padding-bottom: 1px;
    margin-bottom: 5px;
    border-bottom: 1px solid #bdbaba;
}
.article-metadata a:hover{
    color: #333;
    text-decoration: none;
}
.article-svg{
    width: 25px;
    height: 25px;
    vertical-align: middle;
}
.account-img{
    height: 120px;
    width: 120px;
    margin-right: 20px;
    margin-bottom: 15px;

}
.account-heading{
    font-size: 2.5rem;
}

