{%extends 'base.html'%}

{% block content%}

<div class='container'>
    <h1>Here's What We love about travelling</h1>

</div>
<!-- Carousel wrapper -->
<div id="carouselMDExample" class="carousel slide carousel-fade" data-mdb-ride="carousel">
    <!-- Slides -->
    <div class="carousel-inner mb-5 shadow-1-strong rounded-3">
      <div class="carousel-item active">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/Slides/img%20(88).webp" class="d-block w-100" alt="..." />
      </div>
      <div class="carousel-item">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/Slides/img%20(121).webp" class="d-block w-100"
          alt="..." />
      </div>
      <div class="carousel-item">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/Slides/img%20(31).webp" class="d-block w-100" alt="..." />
      </div>
    </div>
    <!-- Slides -->
  
    <!-- Controls -->
    <button class="carousel-control-prev" type="button" data-mdb-target="#carouselMDExample"
      data-mdb-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-mdb-target="#carouselMDExample"
      data-mdb-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
    <!-- Controls -->
  
    <!-- Thumbnails -->
    <div class="carousel-indicators" style="margin-bottom: -20px;">
      <button type="button" data-mdb-target="#carouselMDExample" data-mdb-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 1" style="width: 100px;">
        <img class="d-block w-100 shadow-1-strong rounded"
          src="https://mdbcdn.b-cdn.net/img/Photos/Others/Carousel-thumbs/img%20(88).webp" class="img-fluid" />
      </button>
      <button type="button" data-mdb-target="#carouselMDExample" data-mdb-slide-to="1" aria-label="Slide 2"
        style="width: 100px;">
        <img class="d-block w-100 shadow-1-strong rounded"
          src="https://mdbcdn.b-cdn.net/img/Photos/Others/Carousel-thumbs/img%20(121).webp" class="img-fluid" />
      </button>
      <button type="button" data-mdb-target="#carouselMDExample" data-mdb-slide-to="2" aria-label="Slide 3"
        style="width: 100px;">
        <img class="d-block w-100 shadow-1-strong rounded"
          src="https://mdbcdn.b-cdn.net/img/Photos/Others/Carousel-thumbs/img%20(31).webp" class="img-fluid" />
      </button>
    </div>
    <!-- Thumbnails -->
  </div>
    <!-- Thumbnails -->
  </div>
  <!-- Carousel wrapper -->

<div class="container">
<h2>Cold Weather and Travel</h2>
<p>You don’t have to travel to the artic or high altitudes to feel the effects of cold temperatures. Learn how to avoid cold weather injuries and what to do if you find yourself in a dangerous situation due to the cold.

    Most people get cold injuries because of accidents, severe unexpected weather, or poor planning. Take steps to avoid cold weather injuries.
    
    </P>

    <ul>
        <li>Wear warm clothing in several loose layers.
            <br>
            Wear a tightly woven, wind-resistant coat or jacket.
            <br>
            Wear inner layers of light, warm clothing as well as mittens, hats, and scarves.</li>
        <li>Make sure your equipment is appropriate for the weather, climate, and your activities.
            <br>
            In wet conditions, choose waterproof shoes that have good traction.
            <br>
            For water activities, choose an appropriately thick wet suit to prevent hypothermia.
            <br>
            Use personal flotation devices. They are lifesaving if someone becomes unable to swim due to injury or the cold.</li>
        <li>Stay dry, your body loses heat quickly when wet.
            <br>
            Sweat and wet clothing can chill the body rapidly and increase heat loss.
            <br>
            If you’re actively moving, remove extra layers of clothing whenever you feel too warm or start to sweat.</li>

    </ul>
</div>

<div class="container">
    <h2>Hot Weather and Travel</h2>
    <p>You don’t have to travel to the artic or high altitudes to feel the effects of cold temperatures. Learn how to avoid cold weather injuries and what to do if you find yourself in a dangerous situation due to the cold.
    
        Most people get cold injuries because of accidents, severe unexpected weather, or poor planning. Take steps to avoid cold weather injuries.
        
        </P>
    
        <ul>
            <li>Wear warm clothing in several loose layers.
                <br>
                Wear a tightly woven, wind-resistant coat or jacket.
                <br>
                Wear inner layers of light, warm clothing as well as mittens, hats, and scarves.</li>
            <li>Make sure your equipment is appropriate for the weather, climate, and your activities.
                <br>
                In wet conditions, choose waterproof shoes that have good traction.
                <br>
                For water activities, choose an appropriately thick wet suit to prevent hypothermia.
                <br>
                Use personal flotation devices. They are lifesaving if someone becomes unable to swim due to injury or the cold.</li>
            <li>Stay dry, your body loses heat quickly when wet.
                <br>
                Sweat and wet clothing can chill the body rapidly and increase heat loss.
                <br>
                If you’re actively moving, remove extra layers of clothing whenever you feel too warm or start to sweat.</li>
    
        </ul>
    </div>
    
{%endblock%}