{% extends "base.html"%}
{% block content %}

<div id="recommend" class="container-fluid">
    <div id="row1" class="row">
      <h2>Warm <span class="span1">Destinations</span></h2>
    </div>
    <div class="row">
      <div class="col-sm-3">
        <div id="cards1" class="card">
          <img class="images" src="rio.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Rio De Janeiro</h5>
            <p class="card-text text-muted">1,100 Tours</p>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div id="cards1" class="card">
          <img class="images" src="bali.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Bali</h5>
            <p class="card-text text-muted">5,593 Tours</p>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div id="cards1" class="card">
          <img class="images" src="cancun.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Cancun</h5>
            <p class="card-text text-muted">3,106 Tours</p>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div id="cards1" class="card">
          <img class="images" src="https://image.shutterstock.com/image-photo/cow-on-background-sky-green-260nw-1728214024.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Miami</h5>
            <p class="card-text text-muted">605 Tours</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div id="maindiv2" class="container-fluid">
    <div class="row">
      <h2>Why choose <span class="span1">Travel Exp</span></h2>
    </div>
    <br>
    <div class="row">
      <div class="col">
        <h5 class="h5">Memorable experiences</h5>
        <p><i>Browse and book tours and activities so 
          incredible, you’ll want to tell your friends.</i>
        </p>
      </div>
      <div class="col">
        <h5 class="h5">Ultimate flexibility</h5>
        <p><i>You’re in control, with free cancellation and
           payment options to satisfy any plan or budget.</i>
        </p>
      </div>
      <div class="col">
        <h5 class="h5">Award-winning support</h5>
        <p><i>New price? New plan? No problem.
           We’re here to help, 24/7.</i>
          </p>
      </div>
    </div>
  </div>
   <div id="maindiv" class="container">

    <div class="card" style="width: 18rem;">
      <img src="3.avif" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Experience Venice</h5>
        <p class="card-text">Book a shared Venice Link arrival transfer from Marco Polo Airport
           to your Venice hotel, and enjoy a stress-free
            start to your trip. </p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Free Cancellation</li>
        <li class="list-group-item">Price varies by group size</li>
      </ul>
    </div>

    


    <div class="card" style="width: 18rem;">
      <img id="image2" src="1.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Kravice</h5>
        <p class="card-text">32
          Avoid hidden costs on a day tour to some of Bosnia and Herzegovina’s most popular landmarks from Dubrovnik. 
           </p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Free Cancellation</li>
        <li class="list-group-item">Price varies by group size</li>
      </ul>
    </div>


   <div class="card" style="width: 18rem;">
    <img src="2.avif" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Enjoy Australia</h5>
      <p class="card-text">Get a comprehensive look at Scotland during this 5-day journey
         through its rugged and rural landscapes. 
      </p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Free Cancellation</li>
      <li class="list-group-item">Price varies by group size</li>
    </ul>
  </div>
   </div>

{% endblock %}